/* 各个页面相同的样式表 : 头, 尾部 */
/* 版心 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}


/* 头部 */
.header {
	height: 80px;
    border-bottom: 2px solid pink;
}


.logo {
    float: left;
    width: 180px;
    height: 60px;
    margin-top: 10px;
    margin-left: 30px;
}


.logo h1 {
    width: 180px;
    height: 60px;
}


.logo h1 a {
    display: block;
    width: 180px;
    height: 60px;   
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
}


.nav {
    float: left;
    margin-left: 160px;
    margin-top: 28px;
}


.nav li {
    float: left;
    margin-right: 90px;
}


.nav li:last-child {
    color: #999999;
    font-size: 12px;
}
.nav li a {
    color: #525252;
    padding-bottom: 12px;
}


.nav li a:hover {
    color: #eb7faf;
    border-bottom: 3px solid #eb7faf;
}


/* 版权区域 */
.footer {
    height: 100px;
	background-color: #404040;
	opacity: 0.8;
    margin-top: 10px;
    border-top: 2px solid pink;
}


.footer .iconfont {
    font-size:16px;
    color: #ccc;
}


.footer .wrapper {
    width: 1200px;
    text-align: center;
}



.footer .top {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #2e2e2e ;
}


.footer .top a {
    font-size: 16px;
    color: #ccc;
}


.footer .bottom {
    font-size: 16px;
    padding-top: 8px;
    color: #ccc;
}

